
# PlanAhead Generated physical constraints 

NET "lcd_db[7]" LOC = AD7;
NET "lcd_db[6]" LOC = AC7;
NET "lcd_db[5]" LOC = AC5;
NET "lcd_db[4]" LOC = AB6;
NET "lcd_db[3]" LOC = AC4;
NET "lcd_db[2]" LOC = AB5;
NET "lcd_db[1]" LOC = AB7;
NET "lcd_db[0]" LOC = Y8;
NET "lcd_e" LOC = AA5;
NET "lcd_rs" LOC = V7;
NET "lcd_rw" LOC = W6;
NET "rst" LOC = E7;
NET "clk" LOC = AG18;
